<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu | PING Cosmetics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/colored-logo.png">

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header-container">
            <div class="logo-site">
                <a href="/" class="logo">
                    <img src="assets/logo.svg" alt="logo">
                </a>
            </div>

            <div class="search-site">
                <div class="suggested-keywords">
                    <a href="" class="white-anchor heavy-link">Nước tẩy trang</a>
                    <a href="" class="white-anchor heavy-link">Kem chống nắng</a>
                    <a href="" class="white-anchor heavy-link">Toner</a>
                    <a href="" class="white-anchor heavy-link">Sữa rửa mặt</a>
                    <a href="" class="white-anchor heavy-link">Tẩy tế bào chết</a>
                    <a href="" class="white-anchor heavy-link">Cushion</a>
                </div>
    
                <div class="search-cart">
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm sản phẩm..." class="input-search" name="search">
                        <button type="submit" class="btn-submit-search">
                            <img src="assets/search-icon.svg" alt="Search">
                        </button>
                    </form>
                    <div class="item-header cart">
                        <a href="" class="white-anchor">
                            <img src="assets/cart-icon.svg" alt="">
                        </a>
                    </div>
                    <div class="item-header login-register">
                        <a href="" class="white-anchor">
                            <img src="assets/login-icon.svg" alt="">
                        </a>
                        <div class="text">
                            <a href="" class="white-anchor heavy-link">Đăng nhập</a>
                            <br>
                            <a href="" class="white-anchor heavy-link">Đăng ký</a>
                        </div>
                    </div>
                    <div class="item-header support">
                        <a href="" class="white-anchor">
                            <img src="assets/phone-icon.svg" alt="">
                        </a>
                        <a href="" class="white-anchor heavy-link">Hỗ trợ <br> khách hàng</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar">
        <a href="" class="category-fixed" style="font-weight: 600; background: #fff;">DANH MỤC</a>
        <div class="sub-nav">
            <button class="btn-sub-nav">Trang điểm <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Kem nền</a>
                <a href="" class="heavy-link">Kem lót</a>
                <a href="" class="heavy-link">Son</a>
                <a href="" class="heavy-link">Kẻ mắt / Kẻ mày</a>
                <a href="" class="heavy-link">Dụng cụ</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc da <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Sữa rửa mặt</a>
                <a href="" class="heavy-link">Tẩy trang</a>
                <a href="" class="heavy-link">Toner</a>
                <a href="" class="heavy-link">Dưỡng ẩm</a>
                <a href="" class="heavy-link">Kem chống nắng</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc tóc <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Dầu gội</a>
                <a href="" class="heavy-link">Dầu xả</a>
                <a href="" class="heavy-link">Dầu dưỡng tóc</a>
                <a href="" class="heavy-link">Thuốc nhuộm</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc cơ thể <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Sữa tắm</a>
                <a href="" class="heavy-link">Body Scrub</a>
                <a href="" class="heavy-link">Lăn khử mùi</a>
                <a href="" class="heavy-link">Sữa dưỡng thể</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Nước hoa</button>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Thực phẩm chức năng <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Hỗ trợ làm đẹp</a>
                <a href="" class="heavy-link">Hỗ trợ sức khỏe</a>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="row">
            <div class="col" style="margin-left: 80px;">
                <img src="https://unblast.com/wp-content/uploads/2020/04/Online-Shopping-Illustration.jpg" alt="" width="600">
            </div>
            <div class="col text-center" style="margin-top: auto; margin-bottom: auto;">
                <p class="txt-cyan h1 txt-uppercase" style="font-weight: 800;">Đặt hàng thành công!</p>
                <hr style="width: 50%; margin: 20px auto;">
                <p class="txt-18">Mã đơn hàng của bạn là: <strong class="txt-cyan h3">1</strong></p>
                <div class="button-order-success">
                    <button class="btn btn-outline-primary">Trang chủ</button> | 
                    <button class="btn btn-danger">Xem đơn hàng</button>
                </div>
            </div>
          </div>
    </div>

    <footer>
        <div class="footer-wrapper grid-3-col">
            <div class="basic-info">
                <div class="logo">
                    <a href=""><img src="assets/logo.svg" alt=""></a>
                </div>
                <div class="slogan">"All Ages, All Races, All Genders"</div>
                <div class="address">Based in Ho Chi Minh City</div>
                <div class="hotline"><span>Hotline:</span> <a href="tel:+0123456789">0123-456-789</a></div>
            </div>
            <div class="about-us">
                <div class="about-us-title">
                    <h4>VỀ CHÚNG TÔI</h4>
                </div>
                <div class="introduction"><a href="" class="heavy-link">Giới thiệu</a></div>
                <div class="privacy-policy"><a href="" class="heavy-link">Chính sách bảo mật</a></div>
                <div class="terms-of-use"><a href="" class="heavy-link">Điều khoản sử dụng</a></div>
            </div>
            <div class="page-support">
                <div class="page-support-title">
                    <h4>HỖ TRỢ</h4>
                </div>
                <div class="most-asked-questions"><a href="" class="heavy-link">Các câu hỏi thường gặp</a></div>
                <div class="contact-info"><a href="" class="heavy-link">Thông tin liên hệ</a></div>
                <div class="delivery-policy"><a href="" class="heavy-link">Chính sách vận chuyển</a></div>
                <div class="return-policy"><a href="" class="heavy-link">Chính sách đổi trả</a></div>
                <div class="send-support"><a href="" class="heavy-link">Gửi yêu cầu hỗ trợ</a></div>
            </div>
        </div>
        <div class="copyright">
            <div>Chịu trách nhiệm quản lý nội dung: PING Cosmetics - Số điện thoại: 0123-456-789</div>
            <div>&copy; 2023 - Bản quyền thuộc về PING Cosmetics</div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6594d9651c.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>