<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kem chống nắng | PING Cosmetics</title>
    <link rel="icon" type="image/x-icon" href="assets/colored-logo.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header-container">
            <div class="logo-site">
                <a href="/" class="logo">
                    <img src="assets/logo.svg" alt="logo">
                </a>
            </div>

            <div class="search-site">
                <div class="suggested-keywords">
                    <a href="" class="white-anchor heavy-link">Nước tẩy trang</a>
                    <a href="" class="white-anchor heavy-link">Kem chống nắng</a>
                    <a href="" class="white-anchor heavy-link">Toner</a>
                    <a href="" class="white-anchor heavy-link">Sữa rửa mặt</a>
                    <a href="" class="white-anchor heavy-link">Tẩy tế bào chết</a>
                    <a href="" class="white-anchor heavy-link">Cushion</a>
                </div>
    
                <div class="search-cart">
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm sản phẩm..." class="input-search" name="search">
                        <button type="submit" class="btn-submit-search">
                            <img src="assets/search-icon.svg" alt="Search">
                        </button>
                    </form>
                    <div class="item-header cart">
                        <a href="" class="white-anchor">
                            <img src="assets/cart-icon.svg" alt="">
                        </a>
                    </div>
                    <div class="item-header support">
                        <a href="" class="white-anchor">
                            <img src="assets/phone-icon.svg" alt="">
                        </a>
                        <a href="" class="white-anchor heavy-link">Hỗ trợ <br> khách hàng</a>
                    </div>
                    <div class="item-header login-register">
                        <a href="" class="white-anchor">
                            <img src="assets/login-icon.svg" alt="">
                        </a>
                        <div class="text">
                            <a href="" class="white-anchor heavy-link">Đăng nhập</a>
                            <br>
                            <a href="" class="white-anchor heavy-link">Đăng ký</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar">
        <a href="" class="category-fixed" style="font-weight: 600; background: #fff;">DANH MỤC</a>
        <div class="sub-nav">
            <button class="btn-sub-nav">Trang điểm <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Kem nền</a>
                <a href="" class="heavy-link">Kem lót</a>
                <a href="" class="heavy-link">Son</a>
                <a href="" class="heavy-link">Kẻ mắt / Kẻ mày</a>
                <a href="" class="heavy-link">Dụng cụ</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc da <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Sữa rửa mặt</a>
                <a href="" class="heavy-link">Tẩy trang</a>
                <a href="" class="heavy-link">Toner</a>
                <a href="" class="heavy-link">Dưỡng ẩm</a>
                <a href="" class="heavy-link">Kem chống nắng</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc tóc <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Dầu gội</a>
                <a href="" class="heavy-link">Dầu xả</a>
                <a href="" class="heavy-link">Dầu dưỡng tóc</a>
                <a href="" class="heavy-link">Thuốc nhuộm</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc cơ thể <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Sữa tắm</a>
                <a href="" class="heavy-link">Body Scrub</a>
                <a href="" class="heavy-link">Lăn khử mùi</a>
                <a href="" class="heavy-link">Sữa dưỡng thể</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Nước hoa</button>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Thực phẩm chức năng <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Hỗ trợ làm đẹp</a>
                <a href="" class="heavy-link">Hỗ trợ sức khỏe</a>
            </div>
        </div>
    </div>

    <div class="page-navigation">
        <ul class="breadcrumb">
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Kem chống nắng</a></li>
        </ul>
    </div>

    <div class="main-container grid-6-col">
        <div class="sidebar">
            <div class="sidebar-category">
                <div class="side-bar-title">
                    <h2 class="">DANH MỤC</h3>
                </div>
                <div class="side-bar-category">
                    <div class="category-sb"><a href="" class="cyan-link heavy-link">Kem chống nắng</a></div>
                    <div class="category-sb"><a href="" class="cyan-link heavy-link">Dưỡng ẩm</a></div>
                    <div class="category-sb"><a href="" class="cyan-link heavy-link">Kem chống nắng</a></div>
                    <div class="category-sb"><a href="" class="cyan-link heavy-link">Dưỡng ẩm</a></div>
                    <div class="category-sb"><a href="" class="cyan-link heavy-link">Kem chống nắng</a></div>
                    <div class="category-sb"><a href="" class="cyan-link heavy-link">Dưỡng ẩm</a></div>  
                </div>
            </div>
            <div class="sidebar-filter">
                <div class="side-bar-title">
                    <h2 class="">BỘ LỌC TÌM KIẾM</h3>
                </div>
                <div class="brand-filter">
                    <h3 class="">Tên thương hiệu</h2>
                    <div class="brand-choose">
                        <input type="checkbox" name="" id="">
                        <label for="">Thương hiệu</label><br>
                        <input type="checkbox" name="" id="">
                        <label for="">Thương hiệu</label><br>
                        <input type="checkbox" name="" id="">
                        <label for="">Thương hiệu</label><br>
                        <input type="checkbox" name="" id="">
                        <label for="">Thương hiệu</label><br>
                        <input type="checkbox" name="" id="">
                        <label for="">Thương hiệu</label><br>
                        <input type="checkbox" name="" id="">
                        <label for="">Thương hiệu</label><br>
                    </div>
                </div>
                <div class="price-range">
                    <h3 class="">Khoảng giá</h2>
                    <form action="" class="filter-product">
                        <input type="text" name="" id="" placeholder="Từ &#8363;">
                        <span class="price-range-line">-</span>
                        <input type="text" name="" id="" placeholder="Đến &#8363;">
                        <br><br>
                        <button type="submit" class="btn-apply">Áp dụng</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-list">
            <div class="product-list-header">
                <div class="product-list-title">
                    <h1 class="section-txt-title">Kem chống nắng</h1>
                </div>
                <div class="product-list-filter">
                    <div class="product-list-filter-content right">
                        <label for="">Sắp xếp theo: </label>
                        <select name="" id="">
                            <option value="Increase">Giá thấp đến cao</option>
                            <option value="Decrease">Giá cao đến thấp</option>
                            <option value="Alphabet">A - Z</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="product-list-content grid-4-col">
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="preview-product">
                    <div class="product-ping width-common relative">
                        <a href="" class="image-common relative">
                            <div class="product-img sale">
                                <img src="https://media.hcdn.vn/wysiwyg/HaNguyen1/sua-chong-nang-anessa-duong-da-kiem-dau-bao-ve-hoan-hao-1.jpg" alt="" height="200" width="200">
                                <span class="sale-percent">50%</span>
                            </div>
                            <div class="product-info">
                                <div class="width-common price-block">
                                    <strong class="discount-price txt-16">350.000 &#8363;</strong>
                                    <span class="original-price txt-12 right">700.000 &#8363;</span>
                                </div>
                                <div class="product-name-block">
                                    <h3 class="width-common pr-name sp-bottom-5">
                                        <div class="product-name cyan-link">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu 20ml</div>
                                    </h3>
                                </div>
                                <div class="rate-block">
                                    <span class="rate-star left">4.5 <i class="fa-solid fa-star"></i></span>
                                    <span class="sold-product-number right">Đã bán: 100</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="pagination-container">
                <nav>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </nav>
            </div>

        </div>
    </div>

    <footer>
        <div class="footer-wrapper grid-3-col">
            <div class="basic-info">
                <div class="logo">
                    <a href=""><img src="assets/logo.svg" alt=""></a>
                </div>
                <div class="slogan">"All Ages, All Races, All Genders"</div>
                <div class="address">Based in Ho Chi Minh City</div>
                <div class="hotline"><span>Hotline:</span> <a href="tel:+0123456789">0123-456-789</a></div>
            </div>
            <div class="about-us">
                <div class="about-us-title">
                    <h4>VỀ CHÚNG TÔI</h4>
                </div>
                <div class="introduction"><a href="" class="heavy-link">Giới thiệu</a></div>
                <div class="privacy-policy"><a href="" class="heavy-link">Chính sách bảo mật</a></div>
                <div class="terms-of-use"><a href="" class="heavy-link">Điều khoản sử dụng</a></div>
            </div>
            <div class="page-support">
                <div class="page-support-title">
                    <h4>HỖ TRỢ</h4>
                </div>
                <div class="most-asked-questions"><a href="" class="heavy-link">Các câu hỏi thường gặp</a></div>
                <div class="contact-info"><a href="" class="heavy-link">Thông tin liên hệ</a></div>
                <div class="delivery-policy"><a href="" class="heavy-link">Chính sách vận chuyển</a></div>
                <div class="return-policy"><a href="" class="heavy-link">Chính sách đổi trả</a></div>
                <div class="send-support"><a href="" class="heavy-link">Gửi yêu cầu hỗ trợ</a></div>
            </div>
        </div>
        <div class="copyright">
            <div>Chịu trách nhiệm quản lý nội dung: PING Cosmetics - Số điện thoại: 0123-456-789</div>
            <div>&copy; 2023 - Bản quyền thuộc về PING Cosmetics</div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/6594d9651c.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>