<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Điều khoản sử dụng | PING Cosmetics</title>
    <link rel="icon" type="image/x-icon" href="assets/colored-logo.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header-container">
            <div class="logo-site">
                <a href="/" class="logo">
                    <img src="assets/logo.svg" alt="logo">
                </a>
            </div>

            <div class="search-site">
                <div class="suggested-keywords">
                    <a href="" class="white-anchor heavy-link">Nước tẩy trang</a>
                    <a href="" class="white-anchor heavy-link">Kem chống nắng</a>
                    <a href="" class="white-anchor heavy-link">Toner</a>
                    <a href="" class="white-anchor heavy-link">Sữa rửa mặt</a>
                    <a href="" class="white-anchor heavy-link">Tẩy tế bào chết</a>
                    <a href="" class="white-anchor heavy-link">Cushion</a>
                </div>
    
                <div class="search-cart">
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm sản phẩm..." class="input-search" name="search">
                        <button type="submit" class="btn-submit-search">
                            <img src="assets/search-icon.svg" alt="Search">
                        </button>
                    </form>
                    <div class="item-header cart">
                        <a href="" class="white-anchor">
                            <img src="assets/cart-icon.svg" alt="">
                        </a>
                    </div>
                    <div class="item-header login-register">
                        <a href="" class="white-anchor">
                            <img src="assets/login-icon.svg" alt="">
                        </a>
                        <div class="text">
                            <a href="" class="white-anchor heavy-link">Đăng nhập</a>
                            <br>
                            <a href="" class="white-anchor heavy-link">Đăng ký</a>
                        </div>
                    </div>
                    <div class="item-header support">
                        <a href="" class="white-anchor">
                            <img src="assets/phone-icon.svg" alt="">
                        </a>
                        <a href="" class="white-anchor heavy-link">Hỗ trợ <br> khách hàng</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar">
        <a href="" class="category-fixed" style="font-weight: 600; background: #fff;">DANH MỤC</a>
        <div class="sub-nav">
            <button class="btn-sub-nav">Trang điểm <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Kem nền</a>
                <a href="" class="heavy-link">Kem lót</a>
                <a href="" class="heavy-link">Son</a>
                <a href="" class="heavy-link">Kẻ mắt / Kẻ mày</a>
                <a href="" class="heavy-link">Dụng cụ</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc da <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Sữa rửa mặt</a>
                <a href="" class="heavy-link">Tẩy trang</a>
                <a href="" class="heavy-link">Toner</a>
                <a href="" class="heavy-link">Dưỡng ẩm</a>
                <a href="" class="heavy-link">Kem chống nắng</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc tóc <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Dầu gội</a>
                <a href="" class="heavy-link">Dầu xả</a>
                <a href="" class="heavy-link">Dầu dưỡng tóc</a>
                <a href="" class="heavy-link">Thuốc nhuộm</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Chăm sóc cơ thể <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Sữa tắm</a>
                <a href="" class="heavy-link">Body Scrub</a>
                <a href="" class="heavy-link">Lăn khử mùi</a>
                <a href="" class="heavy-link">Sữa dưỡng thể</a>
            </div>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Nước hoa</button>
        </div>
        <div class="sub-nav">
            <button class="btn-sub-nav">Thực phẩm chức năng <i class="fa fa-caret-down"></i></button>
            <div class="sub-nav-content">
                <a href="" class="heavy-link">Hỗ trợ làm đẹp</a>
                <a href="" class="heavy-link">Hỗ trợ sức khỏe</a>
            </div>
        </div>
    </div>

    <div class="terms-of-use-cover other-cover">
        <img src="~/user_assets/terms-of-use-cover.svg" alt="" width="1100">
    </div>

    <div class="terms-of-use-container other-container">
        <div class="terms-of-use-content other-content">
            <div class="terms-of-use-title other-title">
                <h1 class="page-txt-title">Điều khoản sử dụng</h1>
                <hr>
            </div>
            <div class="terms-of-use-body other-body">
                <div class="question-1 question">
                    <div class="question-1-title question-title" onclick="toggleAnswer(1)">
                        <span><strong>Quy định sử dụng</strong></span>
                        <i class="fa-solid fa-angle-down right"></i>
                        <hr>
                    </div>
                    <div class="question-1-answer question-answer">
                        <p>
                            Khi khách hàng vào website của PING Cosmetics với tư cách khách viếng thăm hay 
                            thành viên đã đăng ký, xin vui lòng đọc kỹ quy định sử dụng. PING có 
                            quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều 
                            khoản sử dụng này, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi 
                            được đăng trên website mà không cần thông báo trước và quý khách 
                            có trách nhiệm phải cập nhật website thường xuyên để theo dõi 
                            các thông tin được đăng để có thể cập nhật kịp thời. Việc bạn tiếp tục 
                            sử dụng trang sau khi những thay đổi đó được đăng đồng nghĩa 
                            với việc bạn đã đồng ý với những sửa đổi trong Quy định sử dụng. <br><br>

                            PING không chịu trách nhiệm về chất lượng đường truyền Internet ảnh hưởng 
                            đến tốc độ truy cập của bạn vào website của PING Cosmetics.
                        </p>
                    </div>
                </div>
                <div class="question-2 question">
                    <div class="question-2-title question-title" onclick="toggleAnswer(2)">
                        <span><strong>Quy định và hướng dẫn liên quan đến khách hàng</strong></span>
                        <i class="fa-solid fa-angle-down right"></i>
                        <hr>
                    </div>
                    <div class="question-2-answer question-answer">
                        <p>
                            Khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ 
                            hay người giám hộ hợp pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực 
                            hiện các giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.<br><br>

                            PING có quyền hỏi thêm về thông tin khách hàng khi xác nhận đơn hàng để đảm 
                            bảo mọi thông tin liên lạc về đơn hàng được xử lý chính xác nhất.<br><br>

                            PING sẽ cấp một tài khoản sử dụng để khách hàng có thể mua sắm trong 
                            khuôn khổ Điều khoản và Điều kiện sử dụng đã đề ra. Quý khách hàng sẽ phải 
                            đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu 
                            có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu, 
                            tài khoản và hoạt động của mình trên website.<br><br>

                            Nghiêm cấm sử dụng bất kỳ phần nào của trang website với mục đích thương mại 
                            hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được PING cho phép bằng văn bản. 
                            Nếu vi phạm bất cứ điều nào trong đây, PING sẽ hủy tài khoản của khách mà không cần báo trước.<br><br>

                            Tất cả nội dung tại website và ý kiến phê bình của Quý khách đều 
                            là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo 
                            nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức hoặc áp dụng 
                            các biện pháp khác theo quy định của pháp luật Việt Nam.
                        </p>
                    </div>
                </div>
                <div class="question-3 question">
                    <div class="question-3-title question-title" onclick="toggleAnswer(3)">
                        <span><strong>Chấp nhận đơn hàng, giá cả và điều khoản bất khả kháng</strong></span>
                        <i class="fa-solid fa-angle-down right"></i>
                        <hr>
                    </div>
                    <div class="question-3-answer question-answer">
                        <p>
                            PING luôn luôn nỗ lực để đảm bảo rằng mọi thông tin và tài liệu trên 
                            website là chính xác. Tuy nhiên, không có đảm bảo hay mô tả nào, 
                            dù là được nêu rõ hay ngụ ý, được đưa ra để chắc chắn rằng mọi thông tin 
                            và tài liệu là hoàn thiện, chính xác, mới nhất, phù hợp cho mục đích cụ thể 
                            và trong phạm vi cho phép.
                        </p>
                    </div>
                </div>
                <div class="question-4 question">
                    <div class="question-4-title question-title" onclick="toggleAnswer(4)">
                        <span><strong>Thay đổi hoặc hủy bỏ giao dịch</strong></span>
                        <i class="fa-solid fa-angle-down right"></i>
                        <hr>
                    </div>
                    <div class="question-4-answer question-answer">
                        <p>
                            Khách hàng có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia 
                            giao dịch tại website. Trong trường hợp khách hàng nhập sai thông tin 
                            PING có quyền từ chối thực hiện giao dịch.

                            Trong trường hợp bạn muốn khiếu nại về sản phẩm PING mong bạn có thể 
                            hợp tác bằng cách cung cấp thông tin càng chi tiết càng tốt về tình trạng 
                            sản phẩm và các thông tin liên quan đến việc mua hàng như mã đơn hàng, 
                            xác nhận đơn hàng, hóa đơn mua hàng.

                            Quý khách có thể tham khảo thêm về quy định đổi trả hàng qua Chính sách đổi trả
                             để PING có thể phục vụ khách hàng tốt nhất.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-wrapper grid-3-col">
            <div class="basic-info">
                <div class="logo">
                    <a href=""><img src="assets/logo.svg" alt=""></a>
                </div>
                <div class="slogan">"All Ages, All Races, All Genders"</div>
                <div class="address">Based in Ho Chi Minh City</div>
                <div class="hotline"><span>Hotline:</span> <a href="tel:+0123456789">0123-456-789</a></div>
            </div>
            <div class="about-us">
                <div class="about-us-title">
                    <h4>VỀ CHÚNG TÔI</h4>
                </div>
                <div class="introduction"><a href="" class="heavy-link">Giới thiệu</a></div>
                <div class="privacy-policy"><a href="" class="heavy-link">Chính sách bảo mật</a></div>
                <div class="terms-of-use"><a href="" class="heavy-link">Điều khoản sử dụng</a></div>
            </div>
            <div class="page-support">
                <div class="page-support-title">
                    <h4>HỖ TRỢ</h4>
                </div>
                <div class="most-asked-questions"><a href="" class="heavy-link">Các câu hỏi thường gặp</a></div>
                <div class="contact-info"><a href="" class="heavy-link">Thông tin liên hệ</a></div>
                <div class="delivery-policy"><a href="" class="heavy-link">Chính sách vận chuyển</a></div>
                <div class="return-policy"><a href="" class="heavy-link">Chính sách đổi trả</a></div>
                <div class="send-support"><a href="" class="heavy-link">Gửi yêu cầu hỗ trợ</a></div>
            </div>
        </div>
        <div class="copyright">
            <div>Chịu trách nhiệm quản lý nội dung: PING Cosmetics - Số điện thoại: 0123-456-789</div>
            <div>&copy; 2023 - Bản quyền thuộc về PING Cosmetics</div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/6594d9651c.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>